[Unit]
Description=HomeAssistant e-Paper Display
After=network.target

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python3 /home/marek/homepaper.py
Restart=always
WorkingDirectory=/home/marek/
StandardOutput=append:/home/marek/homepaper.log
User=marek
Group=marek

[Install]
WantedBy=multi-user.target
Alias=homepaper.service
